<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BaseUri" value="https://extratorrent.cc"/>
    <add key="DownloadLocation" value="C:\Users\anandv4\Downloads\"/>
    <add key="OpenFolderAfterDownload" value="true"/>
    <add key="OpenTorrenLinkInFdmDirectly" value="false"/>
    <add key="AttemptCount" value="100"/>
    <add key="SearchOptions" value="&amp;s_cat=4&amp;pp=&amp;srt=added&amp;order=desc"/>
    <add key ="XPath" value="/html/body/table/tr[3]/td/table/tr/td[2]/table[5]//a"/>
  </appSettings>
</configuration> 